

.main-game {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.shower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-top: 15vh;
    font-size: 96px;
    color: #fff;
}

.shower img {
    width: 50px;
    height: 50px;
}

.wrapper {
    border: 3px solid #1F6F8B;
    margin: 50px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }

.btn {
    font-family: 'Roboto', sans-serif;
    width: 109px;
    height: 109px;
    background-color: transparent;
    color: #99A8B2;    
    outline: none;
    font-size: 64px;
    border: none;
    cursor: pointer;
}

.wrapper button:nth-child(-n + 3) {
    border-bottom: 3px solid #1F6F8B;
}

.wrapper button:nth-child(1n + 7) {
    border-top: 3px solid #1F6F8B;
}

.wrapper button:nth-child(3n + 1) {
    border-right: 3px solid #1F6F8B;
}

.wrapper button:nth-child(3n + 2) {
    border-right: 3px solid #1F6F8B;
}

.btn:active {
   font-size: 80px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
   background-clip: #fff;
  -webkit-text-fill-color: transparent;	
}

.btn:hover, .btn:focus {
    background-color: #1F6F8B;
	color: #fff;
}

.btn:focus {	
    background-image: url('../../images/active.svg');
    background-repeat: no-repeat;
    background-position: 90% 95%;
}

.hide {
    display: none;
}


@media (max-width: 370px) {
    .btn {
      width: 29.5vw;
      height: 29.5vw;
    }
}

