

.header-ranking {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 100px 0px;
}

.ranking {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #E6D5B8;
    margin-right: 50px;
}

.arrow-icon {
    margin-left: 30px;   
    cursor: pointer;
}

.loader-ranking {
    display: flex;
    justify-content: center;    
    margin-top: 30vh;
}

.loader-ranking img {
    width: 50px;
}

.hide {
    display: none;
}

.score {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    color: #99A8B2;
    font-size: 24px;
}

.score span:nth-child(1) {
    display: flex;
}

.score span:nth-child(1) span:nth-child(2) {
    margin-left: 6vw;
}

.hide-score {
    animation-name: goBack;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

@keyframes goBack {
    from {
      margin-left: 0;
      margin-right: 0;
    }
    to {
      margin-left: -100%;
      margin-right: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .score {
        margin: 0px 8.6% 20px 8.6%;
    }
    .header-ranking {
        margin-bottom: 17.1%;       
    }
}