

.header-ranking {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 100px 0px;
}

.ranking {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #E6D5B8;
    margin-right: 70px;
}

.arrow-icon {
    margin-left: 30px;   
    cursor: pointer;
}

.loader-ranking {
    display: flex;
    justify-content: center;    
    margin-top: 200px;
}

.loader-ranking img {
    width: 60px;
}

.hide {
    display: none;
}

.score {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 15px 50px;
    color: #99A8B2;
    font-size: 24px;
}

.score span:nth-child(1) {
    display: flex;
}

.score span:nth-child(1) span:nth-child(2) {
    margin-left: 6vw;
}



  